<div class="uk-container-expand uk-height-viewport uk-flex-middle uk-flex uk-flex-center uk-background-muted">
  <div class="uk-padding">
    <h2 class="uk-heading-small uk-margin-remove-top">Country search by</h2>
      <a [routerLink]="['/search-by-name']" class="uk-button uk-border-rounded">Search by name</a>
      <a [routerLink]="['/search-by-capital']" class="uk-button uk-border-rounded">Search by capital</a>
      <a [routerLink]="['/search-by-currency']" class="uk-button uk-border-rounded">Search by currency</a>
      <a [routerLink]="['/search-by-language']" class="uk-button uk-border-rounded">Search by language</a>
  </div>
</div>
