<div class="uk-container-expand uk-height-viewport uk-flex-middle uk-flex uk-flex-center uk-background-muted">
  <div class="uk-background-muted uk-border-rounded uk-padding">
    <button routerLink="" class="uk-icon-button" uk-icon="arrow-left"></button>
    <h2 class="uk-heading-small uk-margin-remove-top">Country search by Name</h2>
      <div class="uk-form-stacked">
        <div class="uk-margin">
          <input class="uk-input uk-border-rounded" type="text">
        </div>
      </div>
      <a class="uk-button uk-button-primary uk-border-rounded uk-align-right">Search</a>
    </div>
</div>
